body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f9f9f9;
    padding: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  .products {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .product {
    border: 1px solid #ccc;
    background-color: white;
    padding: 20px;
    width: 200px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .product img {
    width: 100%;
    border-radius: 5px;
    height: 50%;
  }
  
  button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #218838;
  }
  .message {
    margin-top: 20px;
    font-size: 18px;
    color: green;
    font-weight: bold;
  }
    